<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_yt0KkDjpEemSZunftq3MwQ" specification="internal:&#xA;&#xA;interface:&#xA;var ip: string = &quot;&quot;&#xA;var port: string = &quot;&quot;&#xA;&#xA;in event evOpen&#xA;in event evClose&#xA;in event evOk&#xA;in event evError&#xA;in event evEthLinkConnect&#xA;in event evEthLinkDisconnect&#xA;in event evIPStatus&#xA;in event evConnected&#xA;in event evDisconnected&#xA;in event evRecv&#xA;in event evSend&#xA;operation init()&#xA;operation socketOpen(ip: string, port: string)&#xA;operation socketWrite()&#xA;operation socketRead()&#xA;operation socketConnected()&#xA;operation socketDisconnected()&#xA;operation recvOk()&#xA;operation sendOk()&#xA;operation recvFail()&#xA;operation sendFail()" name="ConMgrEth">
    <regions xmi:id="_yt2m0zjpEemSZunftq3MwQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_yt7fUDjpEemSZunftq3MwQ">
        <outgoingTransitions xmi:id="_yt97kzjpEemSZunftq3MwQ" specification="/ init()" target="_yt8GZzjpEemSZunftq3MwQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_yt8GZzjpEemSZunftq3MwQ" specification="evRecv / recvFail()&#xD;&#xA;evSend / sendFail()" name="inactive" incomingTransitions="_yt97kzjpEemSZunftq3MwQ _OVWMgFfREemGKbF7wB8Eyw">
        <outgoingTransitions xmi:id="_jLEjsFZcEemoSZsNy-dO8w" specification="evOpen" target="_nM6qYFfOEemGKbF7wB8Eyw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_nM6qYFfOEemGKbF7wB8Eyw" specification="evRecv / recvFail()&#xD;&#xA;evSend / sendFail()" name="active" incomingTransitions="_jLEjsFZcEemoSZsNy-dO8w">
        <outgoingTransitions xmi:id="_OVWMgFfREemGKbF7wB8Eyw" specification="evClose" target="_yt8GZzjpEemSZunftq3MwQ"/>
        <regions xmi:id="_nM6qY1fOEemGKbF7wB8Eyw" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_xhDzsFfOEemGKbF7wB8Eyw" name="unplugged" incomingTransitions="_-0TycFfOEemGKbF7wB8Eyw _p7h-AFfUEemGKbF7wB8Eyw">
            <outgoingTransitions xmi:id="_JUmhYFfPEemGKbF7wB8Eyw" specification="evEthLinkConnect" target="_s3TBAFfTEemGKbF7wB8Eyw"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_-UtsYFfOEemGKbF7wB8Eyw">
            <outgoingTransitions xmi:id="_-0TycFfOEemGKbF7wB8Eyw" specification="" target="_xhDzsFfOEemGKbF7wB8Eyw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_s3TBAFfTEemGKbF7wB8Eyw" name="plugged" incomingTransitions="_JUmhYFfPEemGKbF7wB8Eyw">
            <outgoingTransitions xmi:id="_p7h-AFfUEemGKbF7wB8Eyw" specification="evEthLinkDisconnect" target="_xhDzsFfOEemGKbF7wB8Eyw"/>
            <regions xmi:id="_s3TBA1fTEemGKbF7wB8Eyw" name="r1">
              <vertices xsi:type="sgraph:State" xmi:id="_wsKZwFfTEemGKbF7wB8Eyw" name="connecting" incomingTransitions="_tXe5wFfPEemGKbF7wB8Eyw _g-MDgGBvEemIFMcmYjZ1hw">
                <regions xmi:id="_wsKZw1fTEemGKbF7wB8Eyw" name="r1">
                  <vertices xsi:type="sgraph:State" xmi:id="_Tx_34FfQEemGKbF7wB8Eyw" specification="entry / socketConnected()&#xD;&#xA;exit / socketDisconnected()" name="connected" incomingTransitions="_eL3OsFfQEemGKbF7wB8Eyw">
                    <outgoingTransitions xmi:id="_n94bAFfTEemGKbF7wB8Eyw" specification="evDisconnected" target="_A30JAFfUEemGKbF7wB8Eyw"/>
                    <regions xmi:id="_Tx_341fQEemGKbF7wB8Eyw" name="r1">
                      <vertices xsi:type="sgraph:State" xmi:id="_YOJ6IFfQEemGKbF7wB8Eyw" name="idle" incomingTransitions="_ZLj9kFfQEemGKbF7wB8Eyw _7CIPYFfQEemGKbF7wB8Eyw _BhFP0FfREemGKbF7wB8Eyw _sLqlYGBrEemIFMcmYjZ1hw">
                        <outgoingTransitions xmi:id="_oPDx8FfQEemGKbF7wB8Eyw" specification="evRecv / socketRead()" target="_iuIgAFfQEemGKbF7wB8Eyw"/>
                        <outgoingTransitions xmi:id="_tJLikFfQEemGKbF7wB8Eyw" specification="evSend / socketWrite()" target="_j4bv8FfQEemGKbF7wB8Eyw"/>
                      </vertices>
                      <vertices xsi:type="sgraph:Entry" xmi:id="_YjfQ8FfQEemGKbF7wB8Eyw">
                        <outgoingTransitions xmi:id="_ZLj9kFfQEemGKbF7wB8Eyw" specification="" target="_YOJ6IFfQEemGKbF7wB8Eyw"/>
                      </vertices>
                      <vertices xsi:type="sgraph:State" xmi:id="_iuIgAFfQEemGKbF7wB8Eyw" name="receiving" incomingTransitions="_oPDx8FfQEemGKbF7wB8Eyw">
                        <outgoingTransitions xmi:id="_BhFP0FfREemGKbF7wB8Eyw" specification="evOk / recvOk()" target="_YOJ6IFfQEemGKbF7wB8Eyw"/>
                        <outgoingTransitions xmi:id="_sLqlYGBrEemIFMcmYjZ1hw" specification="evError/ recvFail()" target="_YOJ6IFfQEemGKbF7wB8Eyw"/>
                      </vertices>
                      <vertices xsi:type="sgraph:State" xmi:id="_j4bv8FfQEemGKbF7wB8Eyw" name="sending" incomingTransitions="_tJLikFfQEemGKbF7wB8Eyw">
                        <outgoingTransitions xmi:id="_7CIPYFfQEemGKbF7wB8Eyw" specification="evOk / sendOk()" target="_YOJ6IFfQEemGKbF7wB8Eyw"/>
                      </vertices>
                    </regions>
                  </vertices>
                  <vertices xsi:type="sgraph:State" xmi:id="_A30JAFfUEemGKbF7wB8Eyw" specification="entry / socketOpen(ip, port)" name="waitServer" incomingTransitions="_n94bAFfTEemGKbF7wB8Eyw _ZvracFfUEemGKbF7wB8Eyw">
                    <outgoingTransitions xmi:id="_eL3OsFfQEemGKbF7wB8Eyw" specification="evConnected" target="_Tx_34FfQEemGKbF7wB8Eyw"/>
                    <outgoingTransitions xmi:id="_g-MDgGBvEemIFMcmYjZ1hw" specification="evError" target="_wsKZwFfTEemGKbF7wB8Eyw"/>
                  </vertices>
                  <vertices xsi:type="sgraph:Entry" xmi:id="_RHsQ8FfUEemGKbF7wB8Eyw">
                    <outgoingTransitions xmi:id="_ZvracFfUEemGKbF7wB8Eyw" specification="" target="_A30JAFfUEemGKbF7wB8Eyw"/>
                  </vertices>
                </regions>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_eDqxcFfPEemGKbF7wB8Eyw" name="waitIp" incomingTransitions="_UirKEFfUEemGKbF7wB8Eyw">
                <outgoingTransitions xmi:id="_tXe5wFfPEemGKbF7wB8Eyw" specification="evIPStatus" target="_wsKZwFfTEemGKbF7wB8Eyw"/>
              </vertices>
              <vertices xsi:type="sgraph:Entry" xmi:id="_Rnr_oFfUEemGKbF7wB8Eyw">
                <outgoingTransitions xmi:id="_UirKEFfUEemGKbF7wB8Eyw" specification="" target="_eDqxcFfPEemGKbF7wB8Eyw"/>
              </vertices>
            </regions>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_yt2m0DjpEemSZunftq3MwQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_yt0KkDjpEemSZunftq3MwQ" measurementUnit="Pixel">
    <children xmi:id="_yt308DjpEemSZunftq3MwQ" type="Region" element="_yt2m0zjpEemSZunftq3MwQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_yt6RMDjpEemSZunftq3MwQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yt6RMTjpEemSZunftq3MwQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yt6RMjjpEemSZunftq3MwQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_yt6RMzjpEemSZunftq3MwQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_yt7fUTjpEemSZunftq3MwQ" type="Entry" element="_yt7fUDjpEemSZunftq3MwQ">
          <children xmi:id="_yt8GYDjpEemSZunftq3MwQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_yt8GYzjpEemSZunftq3MwQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_yt8GZDjpEemSZunftq3MwQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_yt8GZTjpEemSZunftq3MwQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_yt8GYTjpEemSZunftq3MwQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt8GYjjpEemSZunftq3MwQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_yt7fUjjpEemSZunftq3MwQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_yt7fUzjpEemSZunftq3MwQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt8GZjjpEemSZunftq3MwQ" x="6" y="7" width="15" height="15"/>
        </children>
        <children xmi:id="_yt8tcjjpEemSZunftq3MwQ" type="State" element="_yt8GZzjpEemSZunftq3MwQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_yt8tdjjpEemSZunftq3MwQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_yt8tdzjpEemSZunftq3MwQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_yt9UgDjpEemSZunftq3MwQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_yt9UgTjpEemSZunftq3MwQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_yt9UgjjpEemSZunftq3MwQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt9UgzjpEemSZunftq3MwQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_yt97kDjpEemSZunftq3MwQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_yt8tczjpEemSZunftq3MwQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_yt8tdDjpEemSZunftq3MwQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_yt97kTjpEemSZunftq3MwQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt97kjjpEemSZunftq3MwQ" x="35" y="29" width="471" height="63"/>
        </children>
        <children xmi:id="_nM6qZFfOEemGKbF7wB8Eyw" type="State" element="_nM6qYFfOEemGKbF7wB8Eyw">
          <children xsi:type="notation:DecorationNode" xmi:id="_nM6qaFfOEemGKbF7wB8Eyw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_nM6qaVfOEemGKbF7wB8Eyw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_nM6qalfOEemGKbF7wB8Eyw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nM6qa1fOEemGKbF7wB8Eyw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_nM6qbFfOEemGKbF7wB8Eyw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nM6qbVfOEemGKbF7wB8Eyw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nM6qblfOEemGKbF7wB8Eyw" type="StateFigureCompartment">
            <children xmi:id="_j85OoFfPEemGKbF7wB8Eyw" type="Region" element="_nM6qY1fOEemGKbF7wB8Eyw">
              <children xsi:type="notation:DecorationNode" xmi:id="_j85OoVfPEemGKbF7wB8Eyw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_j85OolfPEemGKbF7wB8Eyw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_j85Oo1fPEemGKbF7wB8Eyw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_j85OpFfPEemGKbF7wB8Eyw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_j85OpVfPEemGKbF7wB8Eyw" type="State" element="_xhDzsFfOEemGKbF7wB8Eyw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_j85OplfPEemGKbF7wB8Eyw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_j85Op1fPEemGKbF7wB8Eyw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_j85OqFfPEemGKbF7wB8Eyw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_j85OqVfPEemGKbF7wB8Eyw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_j85OqlfPEemGKbF7wB8Eyw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_j85Oq1fPEemGKbF7wB8Eyw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_j85OrFfPEemGKbF7wB8Eyw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_j85OrVfPEemGKbF7wB8Eyw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_j85OrlfPEemGKbF7wB8Eyw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_j85Or1fPEemGKbF7wB8Eyw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_j85OsFfPEemGKbF7wB8Eyw" x="29" y="17" width="85" height="53"/>
                </children>
                <children xmi:id="_j85OsVfPEemGKbF7wB8Eyw" type="Entry" element="_-UtsYFfOEemGKbF7wB8Eyw">
                  <children xmi:id="_j85OslfPEemGKbF7wB8Eyw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_j85Os1fPEemGKbF7wB8Eyw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_j85OtFfPEemGKbF7wB8Eyw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_j85OtVfPEemGKbF7wB8Eyw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_j85OtlfPEemGKbF7wB8Eyw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_j85Ot1fPEemGKbF7wB8Eyw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_j85OuFfPEemGKbF7wB8Eyw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_j85OuVfPEemGKbF7wB8Eyw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_j85OulfPEemGKbF7wB8Eyw" x="2" y="3" width="15" height="15"/>
                </children>
                <children xmi:id="_s3TBBFfTEemGKbF7wB8Eyw" type="State" element="_s3TBAFfTEemGKbF7wB8Eyw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_s3TBCFfTEemGKbF7wB8Eyw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_s3TBCVfTEemGKbF7wB8Eyw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_s3TBClfTEemGKbF7wB8Eyw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_s3TBC1fTEemGKbF7wB8Eyw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_s3TBDFfTEemGKbF7wB8Eyw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s3TBDVfTEemGKbF7wB8Eyw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_s3TBDlfTEemGKbF7wB8Eyw" type="StateFigureCompartment">
                    <children xmi:id="_t9VcAFfTEemGKbF7wB8Eyw" type="Region" element="_s3TBA1fTEemGKbF7wB8Eyw">
                      <children xsi:type="notation:DecorationNode" xmi:id="_t9VcAVfTEemGKbF7wB8Eyw" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_t9VcAlfTEemGKbF7wB8Eyw"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_t9VcA1fTEemGKbF7wB8Eyw"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_t9VcBFfTEemGKbF7wB8Eyw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_wsKZxFfTEemGKbF7wB8Eyw" type="State" element="_wsKZwFfTEemGKbF7wB8Eyw">
                          <children xsi:type="notation:DecorationNode" xmi:id="_wsKZyFfTEemGKbF7wB8Eyw" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_wsKZyVfTEemGKbF7wB8Eyw"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_wsKZylfTEemGKbF7wB8Eyw"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_wsKZy1fTEemGKbF7wB8Eyw" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_wsKZzFfTEemGKbF7wB8Eyw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wsKZzVfTEemGKbF7wB8Eyw"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_wsKZzlfTEemGKbF7wB8Eyw" type="StateFigureCompartment">
                            <children xmi:id="_aW7KwF-iEemIFMcmYjZ1hw" type="Region" element="_wsKZw1fTEemGKbF7wB8Eyw">
                              <children xsi:type="notation:DecorationNode" xmi:id="_aW7KwV-iEemIFMcmYjZ1hw" type="RegionName">
                                <styles xsi:type="notation:ShapeStyle" xmi:id="_aW7Kwl-iEemIFMcmYjZ1hw"/>
                                <layoutConstraint xsi:type="notation:Location" xmi:id="_aW7Kw1-iEemIFMcmYjZ1hw"/>
                              </children>
                              <children xsi:type="notation:Shape" xmi:id="_aW7KxF-iEemIFMcmYjZ1hw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                                <children xmi:id="_aW7KxV-iEemIFMcmYjZ1hw" type="State" element="_Tx_34FfQEemGKbF7wB8Eyw">
                                  <children xsi:type="notation:DecorationNode" xmi:id="_aW7Kxl-iEemIFMcmYjZ1hw" type="StateName">
                                    <styles xsi:type="notation:ShapeStyle" xmi:id="_aW7Kx1-iEemIFMcmYjZ1hw"/>
                                    <layoutConstraint xsi:type="notation:Location" xmi:id="_aW7KyF-iEemIFMcmYjZ1hw"/>
                                  </children>
                                  <children xsi:type="notation:Compartment" xmi:id="_aW7KyV-iEemIFMcmYjZ1hw" type="StateTextCompartment">
                                    <children xsi:type="notation:Shape" xmi:id="_aW7Kyl-iEemIFMcmYjZ1hw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aW7Ky1-iEemIFMcmYjZ1hw"/>
                                    </children>
                                  </children>
                                  <children xsi:type="notation:Compartment" xmi:id="_aW7KzF-iEemIFMcmYjZ1hw" type="StateFigureCompartment">
                                    <children xmi:id="_aW7KzV-iEemIFMcmYjZ1hw" type="Region" element="_Tx_341fQEemGKbF7wB8Eyw">
                                      <children xsi:type="notation:DecorationNode" xmi:id="_aW7Kzl-iEemIFMcmYjZ1hw" type="RegionName">
                                        <styles xsi:type="notation:ShapeStyle" xmi:id="_aW7Kz1-iEemIFMcmYjZ1hw"/>
                                        <layoutConstraint xsi:type="notation:Location" xmi:id="_aW7K0F-iEemIFMcmYjZ1hw"/>
                                      </children>
                                      <children xsi:type="notation:Shape" xmi:id="_aW7K0V-iEemIFMcmYjZ1hw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                                        <children xmi:id="_aW7K0l-iEemIFMcmYjZ1hw" type="State" element="_YOJ6IFfQEemGKbF7wB8Eyw">
                                          <children xsi:type="notation:DecorationNode" xmi:id="_aW7K01-iEemIFMcmYjZ1hw" type="StateName">
                                            <styles xsi:type="notation:ShapeStyle" xmi:id="_aW7K1F-iEemIFMcmYjZ1hw"/>
                                            <layoutConstraint xsi:type="notation:Location" xmi:id="_aW7K1V-iEemIFMcmYjZ1hw"/>
                                          </children>
                                          <children xsi:type="notation:Compartment" xmi:id="_aW7K1l-iEemIFMcmYjZ1hw" type="StateTextCompartment">
                                            <children xsi:type="notation:Shape" xmi:id="_aW7K11-iEemIFMcmYjZ1hw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aW7K2F-iEemIFMcmYjZ1hw"/>
                                            </children>
                                          </children>
                                          <children xsi:type="notation:Compartment" xmi:id="_aW7K2V-iEemIFMcmYjZ1hw" type="StateFigureCompartment"/>
                                          <styles xsi:type="notation:ShapeStyle" xmi:id="_aW7K2l-iEemIFMcmYjZ1hw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                                          <styles xsi:type="notation:FontStyle" xmi:id="_aW7K21-iEemIFMcmYjZ1hw"/>
                                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_aW7K3F-iEemIFMcmYjZ1hw" name="isHorizontal" booleanValue="true"/>
                                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aW7K3V-iEemIFMcmYjZ1hw" x="106" y="29" width="91" height="55"/>
                                        </children>
                                        <children xmi:id="_aW7K3l-iEemIFMcmYjZ1hw" type="Entry" element="_YjfQ8FfQEemGKbF7wB8Eyw">
                                          <children xmi:id="_aW7K31-iEemIFMcmYjZ1hw" type="BorderItemLabelContainer">
                                            <children xsi:type="notation:DecorationNode" xmi:id="_aW7K4F-iEemIFMcmYjZ1hw" type="BorderItemLabel">
                                              <styles xsi:type="notation:ShapeStyle" xmi:id="_aW7K4V-iEemIFMcmYjZ1hw"/>
                                              <layoutConstraint xsi:type="notation:Location" xmi:id="_aW7K4l-iEemIFMcmYjZ1hw"/>
                                            </children>
                                            <styles xsi:type="notation:ShapeStyle" xmi:id="_aW7K41-iEemIFMcmYjZ1hw" fontName="Verdana" lineColor="4210752"/>
                                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aW7K5F-iEemIFMcmYjZ1hw"/>
                                          </children>
                                          <styles xsi:type="notation:ShapeStyle" xmi:id="_aW7K5V-iEemIFMcmYjZ1hw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                                          <styles xsi:type="notation:NamedStyle" xmi:id="_aW7K5l-iEemIFMcmYjZ1hw" name="allowColors"/>
                                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aW7K51-iEemIFMcmYjZ1hw" x="76" y="9"/>
                                        </children>
                                        <children xmi:id="_aW7K6F-iEemIFMcmYjZ1hw" type="State" element="_iuIgAFfQEemGKbF7wB8Eyw">
                                          <children xsi:type="notation:DecorationNode" xmi:id="_aW7K6V-iEemIFMcmYjZ1hw" type="StateName">
                                            <styles xsi:type="notation:ShapeStyle" xmi:id="_aW7K6l-iEemIFMcmYjZ1hw"/>
                                            <layoutConstraint xsi:type="notation:Location" xmi:id="_aW7K61-iEemIFMcmYjZ1hw"/>
                                          </children>
                                          <children xsi:type="notation:Compartment" xmi:id="_aW7K7F-iEemIFMcmYjZ1hw" type="StateTextCompartment">
                                            <children xsi:type="notation:Shape" xmi:id="_aW7K7V-iEemIFMcmYjZ1hw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aW7K7l-iEemIFMcmYjZ1hw"/>
                                            </children>
                                          </children>
                                          <children xsi:type="notation:Compartment" xmi:id="_aW7K71-iEemIFMcmYjZ1hw" type="StateFigureCompartment"/>
                                          <styles xsi:type="notation:ShapeStyle" xmi:id="_aW7K8F-iEemIFMcmYjZ1hw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                                          <styles xsi:type="notation:FontStyle" xmi:id="_aW7K8V-iEemIFMcmYjZ1hw"/>
                                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_aW7K8l-iEemIFMcmYjZ1hw" name="isHorizontal" booleanValue="true"/>
                                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aW7K81-iEemIFMcmYjZ1hw" x="13" y="129"/>
                                        </children>
                                        <children xmi:id="_aW7K9F-iEemIFMcmYjZ1hw" type="State" element="_j4bv8FfQEemGKbF7wB8Eyw">
                                          <children xsi:type="notation:DecorationNode" xmi:id="_aW7K9V-iEemIFMcmYjZ1hw" type="StateName">
                                            <styles xsi:type="notation:ShapeStyle" xmi:id="_aW7K9l-iEemIFMcmYjZ1hw"/>
                                            <layoutConstraint xsi:type="notation:Location" xmi:id="_aW7K91-iEemIFMcmYjZ1hw"/>
                                          </children>
                                          <children xsi:type="notation:Compartment" xmi:id="_aW7K-F-iEemIFMcmYjZ1hw" type="StateTextCompartment" collapsed="true">
                                            <children xsi:type="notation:Shape" xmi:id="_aW7K-V-iEemIFMcmYjZ1hw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aW7K-l-iEemIFMcmYjZ1hw"/>
                                            </children>
                                          </children>
                                          <children xsi:type="notation:Compartment" xmi:id="_aW7K-1-iEemIFMcmYjZ1hw" type="StateFigureCompartment"/>
                                          <styles xsi:type="notation:ShapeStyle" xmi:id="_aW7K_F-iEemIFMcmYjZ1hw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                                          <styles xsi:type="notation:FontStyle" xmi:id="_aW7K_V-iEemIFMcmYjZ1hw"/>
                                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_aW7K_l-iEemIFMcmYjZ1hw" name="isHorizontal" booleanValue="true"/>
                                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aW7K_1-iEemIFMcmYjZ1hw" x="226" y="128" width="81" height="55"/>
                                        </children>
                                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aW7LAF-iEemIFMcmYjZ1hw"/>
                                      </children>
                                      <styles xsi:type="notation:ShapeStyle" xmi:id="_aW7LAV-iEemIFMcmYjZ1hw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aW7LAl-iEemIFMcmYjZ1hw"/>
                                    </children>
                                  </children>
                                  <styles xsi:type="notation:ShapeStyle" xmi:id="_aW7LA1-iEemIFMcmYjZ1hw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                                  <styles xsi:type="notation:FontStyle" xmi:id="_aW7LBF-iEemIFMcmYjZ1hw"/>
                                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_aW7LBV-iEemIFMcmYjZ1hw" name="isHorizontal" booleanValue="true"/>
                                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aW7LBl-iEemIFMcmYjZ1hw" x="127" y="105" width="364" height="304"/>
                                </children>
                                <children xmi:id="_aW7LB1-iEemIFMcmYjZ1hw" type="State" element="_A30JAFfUEemGKbF7wB8Eyw">
                                  <children xsi:type="notation:DecorationNode" xmi:id="_aW7LCF-iEemIFMcmYjZ1hw" type="StateName">
                                    <styles xsi:type="notation:ShapeStyle" xmi:id="_aW7LCV-iEemIFMcmYjZ1hw"/>
                                    <layoutConstraint xsi:type="notation:Location" xmi:id="_aW7LCl-iEemIFMcmYjZ1hw"/>
                                  </children>
                                  <children xsi:type="notation:Compartment" xmi:id="_aW7LC1-iEemIFMcmYjZ1hw" type="StateTextCompartment">
                                    <children xsi:type="notation:Shape" xmi:id="_aW7LDF-iEemIFMcmYjZ1hw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aW7LDV-iEemIFMcmYjZ1hw"/>
                                    </children>
                                  </children>
                                  <children xsi:type="notation:Compartment" xmi:id="_aW7LDl-iEemIFMcmYjZ1hw" type="StateFigureCompartment"/>
                                  <styles xsi:type="notation:ShapeStyle" xmi:id="_aW7LD1-iEemIFMcmYjZ1hw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                                  <styles xsi:type="notation:FontStyle" xmi:id="_aW7LEF-iEemIFMcmYjZ1hw"/>
                                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_aW7LEV-iEemIFMcmYjZ1hw" name="isHorizontal" booleanValue="true"/>
                                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aW7LEl-iEemIFMcmYjZ1hw" x="19" y="30" width="227" height="64"/>
                                </children>
                                <children xmi:id="_aW7LE1-iEemIFMcmYjZ1hw" type="Entry" element="_RHsQ8FfUEemGKbF7wB8Eyw">
                                  <children xmi:id="_aW7LFF-iEemIFMcmYjZ1hw" type="BorderItemLabelContainer">
                                    <children xsi:type="notation:DecorationNode" xmi:id="_aW7LFV-iEemIFMcmYjZ1hw" type="BorderItemLabel">
                                      <styles xsi:type="notation:ShapeStyle" xmi:id="_aW7LFl-iEemIFMcmYjZ1hw"/>
                                      <layoutConstraint xsi:type="notation:Location" xmi:id="_aW7LF1-iEemIFMcmYjZ1hw"/>
                                    </children>
                                    <styles xsi:type="notation:ShapeStyle" xmi:id="_aW7LGF-iEemIFMcmYjZ1hw" fontName="Verdana" lineColor="4210752"/>
                                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aW7LGV-iEemIFMcmYjZ1hw"/>
                                  </children>
                                  <styles xsi:type="notation:ShapeStyle" xmi:id="_aW7LGl-iEemIFMcmYjZ1hw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                                  <styles xsi:type="notation:NamedStyle" xmi:id="_aW7LG1-iEemIFMcmYjZ1hw" name="allowColors"/>
                                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aW7LHF-iEemIFMcmYjZ1hw" x="19" width="15" height="15"/>
                                </children>
                                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aW7LHV-iEemIFMcmYjZ1hw"/>
                              </children>
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_aW7LHl-iEemIFMcmYjZ1hw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aW7LH1-iEemIFMcmYjZ1hw"/>
                            </children>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_wsKZxVfTEemGKbF7wB8Eyw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_wsKZxlfTEemGKbF7wB8Eyw"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_wsKZz1fTEemGKbF7wB8Eyw" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wsKZx1fTEemGKbF7wB8Eyw" x="31" y="97" width="540" height="512"/>
                        </children>
                        <children xmi:id="_j85O0lfPEemGKbF7wB8Eyw" type="State" element="_eDqxcFfPEemGKbF7wB8Eyw">
                          <children xsi:type="notation:DecorationNode" xmi:id="_j85O01fPEemGKbF7wB8Eyw" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_j85O1FfPEemGKbF7wB8Eyw"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_j85O1VfPEemGKbF7wB8Eyw"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_j85O1lfPEemGKbF7wB8Eyw" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_j85O11fPEemGKbF7wB8Eyw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_j85O2FfPEemGKbF7wB8Eyw"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_j85O2VfPEemGKbF7wB8Eyw" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_j85O2lfPEemGKbF7wB8Eyw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_j85O21fPEemGKbF7wB8Eyw"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_j85O3FfPEemGKbF7wB8Eyw" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_j85O3VfPEemGKbF7wB8Eyw" x="68" y="14" width="58" height="53"/>
                        </children>
                        <children xmi:id="_Rn1woFfUEemGKbF7wB8Eyw" type="Entry" element="_Rnr_oFfUEemGKbF7wB8Eyw">
                          <children xmi:id="_Rn1wpFfUEemGKbF7wB8Eyw" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_Rn1wp1fUEemGKbF7wB8Eyw" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_Rn1wqFfUEemGKbF7wB8Eyw"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_Rn1wqVfUEemGKbF7wB8Eyw"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_Rn1wpVfUEemGKbF7wB8Eyw" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Rn1wplfUEemGKbF7wB8Eyw"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_Rn1woVfUEemGKbF7wB8Eyw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_Rn1wolfUEemGKbF7wB8Eyw" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Rn1wo1fUEemGKbF7wB8Eyw" x="28" width="15" height="15"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_t9VcBVfTEemGKbF7wB8Eyw"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_t9VcBlfTEemGKbF7wB8Eyw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_t9VcB1fTEemGKbF7wB8Eyw"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_s3TBBVfTEemGKbF7wB8Eyw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_s3TBBlfTEemGKbF7wB8Eyw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_s3TBD1fTEemGKbF7wB8Eyw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s3TBB1fTEemGKbF7wB8Eyw" x="15" y="79" width="628" height="708"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_j85O5VfPEemGKbF7wB8Eyw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_j85O5lfPEemGKbF7wB8Eyw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_j85O51fPEemGKbF7wB8Eyw"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_nM6qZVfOEemGKbF7wB8Eyw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_nM6qZlfOEemGKbF7wB8Eyw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_nM6qb1fOEemGKbF7wB8Eyw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nM6qZ1fOEemGKbF7wB8Eyw" x="29" y="104" width="696" height="900"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt6RNDjpEemSZunftq3MwQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_yt308TjpEemSZunftq3MwQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yt64QDjpEemSZunftq3MwQ" x="24" y="8" width="776" height="1068"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_yuA-4DjpEemSZunftq3MwQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_yuA-4jjpEemSZunftq3MwQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yuA-4zjpEemSZunftq3MwQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yuA-5DjpEemSZunftq3MwQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_yuBl8DjpEemSZunftq3MwQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yuBl8TjpEemSZunftq3MwQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yuBl8jjpEemSZunftq3MwQ" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_yt2m0TjpEemSZunftq3MwQ" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_yt2m0jjpEemSZunftq3MwQ"/>
    <edges xmi:id="_yt_wwDjpEemSZunftq3MwQ" type="Transition" element="_yt97kzjpEemSZunftq3MwQ" source="_yt7fUTjpEemSZunftq3MwQ" target="_yt8tcjjpEemSZunftq3MwQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_yuAX0DjpEemSZunftq3MwQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yuAX0TjpEemSZunftq3MwQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yuAX0jjpEemSZunftq3MwQ" x="60" y="-54"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_yt_wwTjpEemSZunftq3MwQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_yt_wwzjpEemSZunftq3MwQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_yt_wwjjpEemSZunftq3MwQ" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zm-EUFYuEemayrLVVwb3fA" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eqvgADj4Eem7yN3X15gGQw" id="(0.018267175260771602,0.10109443870948166)"/>
    </edges>
    <edges xmi:id="_jLEjsVZcEemoSZsNy-dO8w" type="Transition" element="_jLEjsFZcEemoSZsNy-dO8w" source="_yt8tcjjpEemSZunftq3MwQ" target="_nM6qZFfOEemGKbF7wB8Eyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_jLEjtVZcEemoSZsNy-dO8w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jLEjtlZcEemoSZsNy-dO8w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jLEjt1ZcEemoSZsNy-dO8w" x="-5" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jLEjslZcEemoSZsNy-dO8w" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jLEjtFZcEemoSZsNy-dO8w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jLEjs1ZcEemoSZsNy-dO8w" points="[94, 30, -59, -18]$[94, 47, -59, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jLNtoFZcEemoSZsNy-dO8w" id="(0.2070279862887448,0.49103013087462516)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jLNtoVZcEemoSZsNy-dO8w" id="(0.3703428929864476,0.0016917562503751024)"/>
    </edges>
    <edges xmi:id="_-0TycVfOEemGKbF7wB8Eyw" type="Transition" element="_-0TycFfOEemGKbF7wB8Eyw" source="_j85OsVfPEemGKbF7wB8Eyw" target="_j85OpVfPEemGKbF7wB8Eyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_-0TydVfOEemGKbF7wB8Eyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-0TydlfOEemGKbF7wB8Eyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-0Tyd1fOEemGKbF7wB8Eyw"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-0TyclfOEemGKbF7wB8Eyw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-0TydFfOEemGKbF7wB8Eyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-0Tyc1fOEemGKbF7wB8Eyw" points="[3, 5, -18, -29]$[11, 18, -10, -16]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="__WerYFfOEemGKbF7wB8Eyw" id="(0.17647058823529413,0.33962264150943394)"/>
    </edges>
    <edges xmi:id="_JUwSYFfPEemGKbF7wB8Eyw" type="Transition" element="_JUmhYFfPEemGKbF7wB8Eyw" source="_j85OpVfPEemGKbF7wB8Eyw" target="_s3TBBFfTEemGKbF7wB8Eyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_JUwSZFfPEemGKbF7wB8Eyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_JUwSZVfPEemGKbF7wB8Eyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_JUwSZlfPEemGKbF7wB8Eyw" x="-21" y="-7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_JUwSYVfPEemGKbF7wB8Eyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_JUwSY1fPEemGKbF7wB8Eyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_JUwSYlfPEemGKbF7wB8Eyw" points="[48, -16, -211, -47]$[196, -16, -63, -47]$[196, 24, -63, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_JUwSZ1fPEemGKbF7wB8Eyw" id="(0.4,0.7924528301886793)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_JUwSaFfPEemGKbF7wB8Eyw" id="(0.490476448902875,0.011871697185694976)"/>
    </edges>
    <edges xmi:id="_tXe5wVfPEemGKbF7wB8Eyw" type="Transition" element="_tXe5wFfPEemGKbF7wB8Eyw" source="_j85O0lfPEemGKbF7wB8Eyw" target="_wsKZxFfTEemGKbF7wB8Eyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_tXe5xVfPEemGKbF7wB8Eyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tXe5xlfPEemGKbF7wB8Eyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tXe5x1fPEemGKbF7wB8Eyw" x="-29" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tXe5wlfPEemGKbF7wB8Eyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tXe5xFfPEemGKbF7wB8Eyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tXe5w1fPEemGKbF7wB8Eyw" points="[-18, 40, 36, -78]$[-18, 91, 36, -27]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QV6ykFfQEemGKbF7wB8Eyw" id="(0.8965517241379312,0.5660377358490566)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_u0N9gFfPEemGKbF7wB8Eyw" id="(0.4942084942084942,0.014669538065971096)"/>
    </edges>
    <edges xmi:id="_ZLj9kVfQEemGKbF7wB8Eyw" type="Transition" element="_ZLj9kFfQEemGKbF7wB8Eyw" source="_aW7K3l-iEemIFMcmYjZ1hw" target="_aW7K0l-iEemIFMcmYjZ1hw">
      <children xsi:type="notation:DecorationNode" xmi:id="_ZLj9lVfQEemGKbF7wB8Eyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ZLj9llfQEemGKbF7wB8Eyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ZLj9l1fQEemGKbF7wB8Eyw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ZLj9klfQEemGKbF7wB8Eyw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ZLj9lFfQEemGKbF7wB8Eyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ZLj9k1fQEemGKbF7wB8Eyw" points="[-1, -2, -1, -2]$[-1, -2, -1, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZLtHgFfQEemGKbF7wB8Eyw" id="(0.5333333333333333,0.13333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZLtHgVfQEemGKbF7wB8Eyw" id="(0.06782945736434108,0.23547169811320756)"/>
    </edges>
    <edges xmi:id="_eL3OsVfQEemGKbF7wB8Eyw" type="Transition" element="_eL3OsFfQEemGKbF7wB8Eyw" source="_aW7LB1-iEemIFMcmYjZ1hw" target="_aW7KxV-iEemIFMcmYjZ1hw">
      <children xsi:type="notation:DecorationNode" xmi:id="_eL3OtVfQEemGKbF7wB8Eyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_eL3OtlfQEemGKbF7wB8Eyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_eL3Ot1fQEemGKbF7wB8Eyw" x="-3" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_eL3OslfQEemGKbF7wB8Eyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_eL3OtFfQEemGKbF7wB8Eyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_eL3Os1fQEemGKbF7wB8Eyw" points="[85, 5, -125, -24]$[194, 5, -16, -24]$[194, 28, -16, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eMA_sFfQEemGKbF7wB8Eyw" id="(0.296076475749797,0.31972408650261)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eMA_sVfQEemGKbF7wB8Eyw" id="(0.5412978822517648,0.0034380701950785303)"/>
    </edges>
    <edges xmi:id="_oPDx8VfQEemGKbF7wB8Eyw" type="Transition" element="_oPDx8FfQEemGKbF7wB8Eyw" source="_aW7K0l-iEemIFMcmYjZ1hw" target="_aW7K6F-iEemIFMcmYjZ1hw">
      <children xsi:type="notation:DecorationNode" xmi:id="_oPDx9VfQEemGKbF7wB8Eyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_oPDx9lfQEemGKbF7wB8Eyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_oPDx91fQEemGKbF7wB8Eyw" x="35" y="13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_oPDx8lfQEemGKbF7wB8Eyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_oPDx9FfQEemGKbF7wB8Eyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_oPDx81fQEemGKbF7wB8Eyw" points="[-17, 0, 61, -86]$[-71, 0, 7, -86]$[-71, 78, 7, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_HAZ_QVfREemGKbF7wB8Eyw" id="(0.20348837209302326,0.48)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ojLAwFfQEemGKbF7wB8Eyw" id="(0.35135135135135137,0.16981132075471697)"/>
    </edges>
    <edges xmi:id="_tJLikVfQEemGKbF7wB8Eyw" type="Transition" element="_tJLikFfQEemGKbF7wB8Eyw" source="_aW7K0l-iEemIFMcmYjZ1hw" target="_aW7K9F-iEemIFMcmYjZ1hw">
      <children xsi:type="notation:DecorationNode" xmi:id="_tJLilVfQEemGKbF7wB8Eyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tJLillfQEemGKbF7wB8Eyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tJLil1fQEemGKbF7wB8Eyw" x="-21" y="-21"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tJLiklfQEemGKbF7wB8Eyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tJLilFfQEemGKbF7wB8Eyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tJLik1fQEemGKbF7wB8Eyw" points="[58, 4, -71, -102]$[126, 4, -3, -102]$[126, 103, -3, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tJLimFfQEemGKbF7wB8Eyw" id="(0.33575581395348836,0.38037735849056603)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tJLimVfQEemGKbF7wB8Eyw" id="(0.8518518518518519,0.01818181818181818)"/>
    </edges>
    <edges xmi:id="_7CIPYVfQEemGKbF7wB8Eyw" type="Transition" element="_7CIPYFfQEemGKbF7wB8Eyw" source="_aW7K9F-iEemIFMcmYjZ1hw" target="_aW7K0l-iEemIFMcmYjZ1hw">
      <children xsi:type="notation:DecorationNode" xmi:id="_7CIPZVfQEemGKbF7wB8Eyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7CIPZlfQEemGKbF7wB8Eyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7CIPZ1fQEemGKbF7wB8Eyw" x="41" y="21"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7CIPYlfQEemGKbF7wB8Eyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7CIPZFfQEemGKbF7wB8Eyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7CIPY1fQEemGKbF7wB8Eyw" points="[-31, 3, 103, 125]$[-66, 3, 68, 125]$[-66, -96, 68, 26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_AnNBgFfREemGKbF7wB8Eyw" id="(0.4144736842105263,0.48)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_HAZ_QFfREemGKbF7wB8Eyw" id="(0.945054945054945,0.9454545454545454)"/>
    </edges>
    <edges xmi:id="_BhFP0VfREemGKbF7wB8Eyw" type="Transition" element="_BhFP0FfREemGKbF7wB8Eyw" source="_aW7K6F-iEemIFMcmYjZ1hw" target="_aW7K0l-iEemIFMcmYjZ1hw">
      <children xsi:type="notation:DecorationNode" xmi:id="_BhFP1VfREemGKbF7wB8Eyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BhFP1lfREemGKbF7wB8Eyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BhFP11fREemGKbF7wB8Eyw" x="5" y="14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BhFP0lfREemGKbF7wB8Eyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BhFP1FfREemGKbF7wB8Eyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BhFP01fREemGKbF7wB8Eyw" points="[11, -13, -47, 71]$[49, -13, -9, 71]$[49, -71, -9, 13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BhPA0FfREemGKbF7wB8Eyw" id="(0.8513513513513513,0.45283018867924535)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BhPA0VfREemGKbF7wB8Eyw" id="(0.2747093023255814,0.7426415094339623)"/>
    </edges>
    <edges xmi:id="_OVWMgVfREemGKbF7wB8Eyw" type="Transition" element="_OVWMgFfREemGKbF7wB8Eyw" source="_nM6qZFfOEemGKbF7wB8Eyw" target="_yt8tcjjpEemSZunftq3MwQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_OVWMhVfREemGKbF7wB8Eyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_OVWMhlfREemGKbF7wB8Eyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_OVWMh1fREemGKbF7wB8Eyw" x="-16" y="12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_OVWMglfREemGKbF7wB8Eyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_OVWMhFfREemGKbF7wB8Eyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_OVWMg1fREemGKbF7wB8Eyw" points="[141, -2, 344, 69]$[141, -46, 344, 25]$[103, -46, 306, 25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_OVWMiFfREemGKbF7wB8Eyw" id="(0.535121008368083,0.0033835125007502047)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_OVWMiVfREemGKbF7wB8Eyw" id="(0.345264259648151,0.10810824707812075)"/>
    </edges>
    <edges xmi:id="_n94bAVfTEemGKbF7wB8Eyw" type="Transition" element="_n94bAFfTEemGKbF7wB8Eyw" source="_aW7KxV-iEemIFMcmYjZ1hw" target="_aW7LB1-iEemIFMcmYjZ1hw">
      <children xsi:type="notation:DecorationNode" xmi:id="_n94bAlfTEemGKbF7wB8Eyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_n94bA1fTEemGKbF7wB8Eyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_n94bBFfTEemGKbF7wB8Eyw" x="40" y="-6"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_n94bBVfTEemGKbF7wB8Eyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_n94bBlfTEemGKbF7wB8Eyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_n94bB1fTEemGKbF7wB8Eyw" points="[14, 9, 242, 37]$[14, 25, 242, 53]$[-227, 25, 1, 53]$[-227, -16, 1, 12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_n94bCFfTEemGKbF7wB8Eyw" id="(0.536723163841808,0.8540541455017616)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_n94bCVfTEemGKbF7wB8Eyw" id="(0.1480382378748985,0.7307979120059656)"/>
    </edges>
    <edges xmi:id="_UirKEVfUEemGKbF7wB8Eyw" type="Transition" element="_UirKEFfUEemGKbF7wB8Eyw" source="_Rn1woFfUEemGKbF7wB8Eyw" target="_j85O0lfPEemGKbF7wB8Eyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_UirKFVfUEemGKbF7wB8Eyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_UirKFlfUEemGKbF7wB8Eyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_UirKF1fUEemGKbF7wB8Eyw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_UirKElfUEemGKbF7wB8Eyw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_UirKFFfUEemGKbF7wB8Eyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_UirKE1fUEemGKbF7wB8Eyw" points="[0, 1, 0, 1]$[0, 1, 0, 1]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_UirKGVfUEemGKbF7wB8Eyw" id="(0.20689655172413793,0.5094339622641509)"/>
    </edges>
    <edges xmi:id="_ZvracVfUEemGKbF7wB8Eyw" type="Transition" element="_ZvracFfUEemGKbF7wB8Eyw" source="_aW7LE1-iEemIFMcmYjZ1hw" target="_aW7LB1-iEemIFMcmYjZ1hw">
      <children xsi:type="notation:DecorationNode" xmi:id="_ZvradVfUEemGKbF7wB8Eyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ZvradlfUEemGKbF7wB8Eyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Zvrad1fUEemGKbF7wB8Eyw" x="22" y="-47"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ZvraclfUEemGKbF7wB8Eyw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ZvradFfUEemGKbF7wB8Eyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Zvrac1fUEemGKbF7wB8Eyw" points="[4, 5, -24, -29]$[31, 33, 3, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZvraeFfUEemGKbF7wB8Eyw" id="(0.6666666666666666,0.2)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZvraeVfUEemGKbF7wB8Eyw" id="(0.1438085739356157,0.015224956500124284)"/>
    </edges>
    <edges xmi:id="_p7h-AVfUEemGKbF7wB8Eyw" type="Transition" element="_p7h-AFfUEemGKbF7wB8Eyw" source="_s3TBBFfTEemGKbF7wB8Eyw" target="_j85OpVfPEemGKbF7wB8Eyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_p7h-BVfUEemGKbF7wB8Eyw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_p7h-BlfUEemGKbF7wB8Eyw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_p7h-B1fUEemGKbF7wB8Eyw" x="-17" y="11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_p7h-AlfUEemGKbF7wB8Eyw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_p7h-BFfUEemGKbF7wB8Eyw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_p7h-A1fUEemGKbF7wB8Eyw" points="[1, 0, 97, 26]$[1, -20, 97, 6]$[-91, -20, 5, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_p7h-CFfUEemGKbF7wB8Eyw" id="(0.2971246006389776,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_p7h-CVfUEemGKbF7wB8Eyw" id="(0.9411764705882353,0.7547169811320755)"/>
    </edges>
    <edges xmi:id="_sNcuEGBrEemIFMcmYjZ1hw" type="Transition" element="_sLqlYGBrEemIFMcmYjZ1hw" source="_aW7K6F-iEemIFMcmYjZ1hw" target="_aW7K0l-iEemIFMcmYjZ1hw">
      <children xsi:type="notation:DecorationNode" xmi:id="_sNmfEGBrEemIFMcmYjZ1hw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_sNmfEWBrEemIFMcmYjZ1hw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_sNmfEmBrEemIFMcmYjZ1hw" x="-27" y="-71"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_sNcuEWBrEemIFMcmYjZ1hw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_sNcuE2BrEemIFMcmYjZ1hw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_sNcuEmBrEemIFMcmYjZ1hw" points="[35, 10, -67, 95]$[108, 10, 6, 95]$[108, -74, 6, 11]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_srqUEGBrEemIFMcmYjZ1hw" id="(0.5054945054945055,0.7818181818181819)"/>
    </edges>
    <edges xmi:id="_g-MDgWBvEemIFMcmYjZ1hw" type="Transition" element="_g-MDgGBvEemIFMcmYjZ1hw" source="_aW7LB1-iEemIFMcmYjZ1hw" target="_wsKZxFfTEemGKbF7wB8Eyw">
      <children xsi:type="notation:DecorationNode" xmi:id="_g-MDhWBvEemIFMcmYjZ1hw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_g-MDhmBvEemIFMcmYjZ1hw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_g-MDh2BvEemIFMcmYjZ1hw" x="-57" y="9"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_g-MDgmBvEemIFMcmYjZ1hw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_g-MDhGBvEemIFMcmYjZ1hw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_g-MDg2BvEemIFMcmYjZ1hw" points="[23, 0, 42, 97]$[23, -121, 42, -24]$[-19, -121, 0, -24]$[-19, -97, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_g-MDiGBvEemIFMcmYjZ1hw" id="(0.6012936012936012,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_g-MDiWBvEemIFMcmYjZ1hw" id="(0.2814814814814815,0.0)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
