<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_Ykb1YN-GEem24a7BsFr5GA" specification="import:&quot;ffconf_template.h&quot;&#xA;import:&quot;integer.h&quot;&#xA;import:&quot;ff.h&quot;&#xA;&#xA;interface:&#xA;&#x9;in event evEnable&#xA;&#x9;&#xA;internal:&#xA;&#x9;var fatFs: FATFS&#xA;&#x9;var result: FRESULT&#xA;" name="FsMgr" domainID="com.yakindu.domain.c">
    <regions xmi:id="_YlLcQN-GEem24a7BsFr5GA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_YlrLg9-GEem24a7BsFr5GA">
        <outgoingTransitions xmi:id="_Yl08id-GEem24a7BsFr5GA" specification="" target="_YlrLj9-GEem24a7BsFr5GA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_YlrLj9-GEem24a7BsFr5GA" name="Off" incomingTransitions="_Yl08id-GEem24a7BsFr5GA _ns55sOGREem7nOmKY_LUiw">
        <outgoingTransitions xmi:id="_wy-RcN-QEem24a7BsFr5GA" specification="evEnable/&#xD;&#xA;result = f_mount(fatFs, &quot;&quot;, 1);&#xD;&#xA;reply = RKH_ALLOC_EVT(FsMgrMountReply, 0, me);&#xD;&#xA;reply->result = result;&#xD;&#xA;reply->e.sig = (result != FR_OK) ? evMountFail : evMountOk;&#xD;&#xA;RKH_SMA_POST_FIFO(e.client, (RKH_EVT_T*)reply, me);" target="_v8ofUN-QEem24a7BsFr5GA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_VQLZ4N-HEem24a7BsFr5GA" specification="" name="Active" incomingTransitions="_ybEQoN-QEem24a7BsFr5GA _KMktUOFaEemnXKmYOXoQIg">
        <outgoingTransitions xmi:id="_CsoJ8OFaEemnXKmYOXoQIg" specification="evWrite /&#xD;&#xA;reply = RKH_ALLOC_EVT(FsMgrRWReply, 0, me);&#xD;&#xA;result = f_write(getFileObj(e.file), e.buff, e.nBytes, &amp;reply->nBytesRW);&#xD;&#xA;reply->result = result;&#xD;&#xA;reply->e.sig = (result != FR_OK) ? evWriteFail : evWriteOk;&#xD;&#xA;RKH_SMA_POST_FIFO(e.client, (RKH_EVT_T*)reply, me);" target="_HdvIgOFaEemnXKmYOXoQIg"/>
        <outgoingTransitions xmi:id="_j2S0gOGREem7nOmKY_LUiw" specification="evDiskError" target="_XRJMEN-HEem24a7BsFr5GA"/>
        <outgoingTransitions xmi:id="_ns55sOGREem7nOmKY_LUiw" specification="evDisable" target="_YlrLj9-GEem24a7BsFr5GA"/>
        <outgoingTransitions xmi:id="_fo9IQON8EemeM9l5VBLIxw" specification="evRead /&#xD;&#xA;reply = RKH_ALLOC_EVT(FsMgrRWReply, 0, me);&#xD;&#xA;result = f_read(getFileObj(e.file), e.buff, e.nBytes, &amp;reply->nBytesRW);&#xD;&#xA;reply->result = result;&#xD;&#xA;reply->e.sig = (result != FR_OK) ? evReadFail : evReadOk;&#xD;&#xA;RKH_SMA_POST_FIFO(e.client, (RKH_EVT_T*)reply, me);" target="_HdvIgOFaEemnXKmYOXoQIg"/>
        <outgoingTransitions xmi:id="_7EALUOOAEemeM9l5VBLIxw" specification="evOpen /&#xD;&#xA;reply = RKH_ALLOC_EVT(FsMgrRWReply, 0, me);&#xD;&#xA;result = f_open(getFileObj(e.file), e.buff, e.nBytes, &amp;reply->nBytesRW);&#xD;&#xA;reply->result = result;&#xD;&#xA;reply->e.sig = (result != FR_OK) ? evOpenFail : evOpenOk;&#xD;&#xA;RKH_SMA_POST_FIFO(e.client, (RKH_EVT_T*)reply, me);" target="_HdvIgOFaEemnXKmYOXoQIg"/>
        <outgoingTransitions xmi:id="_8j_FcOOCEemeM9l5VBLIxw" specification="evSync /&#xD;&#xA;f_sync(getFileObj(e.file));" target="_HdvIgOFaEemnXKmYOXoQIg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_XRJMEN-HEem24a7BsFr5GA" name="Error" incomingTransitions="_zeQzAN-QEem24a7BsFr5GA _JMUxQOFaEemnXKmYOXoQIg _j2S0gOGREem7nOmKY_LUiw">
        <outgoingTransitions xmi:id="_-R3rUOFYEemnXKmYOXoQIg" specification="evEnable/&#xD;&#xA;result = f_mount(fatFs, &quot;&quot;, 1);&#xD;&#xA;..." target="_v8ofUN-QEem24a7BsFr5GA"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_v8ofUN-QEem24a7BsFr5GA" incomingTransitions="_wy-RcN-QEem24a7BsFr5GA _-R3rUOFYEemnXKmYOXoQIg">
        <outgoingTransitions xmi:id="_ybEQoN-QEem24a7BsFr5GA" specification="[result == FR_OK]" target="_VQLZ4N-HEem24a7BsFr5GA"/>
        <outgoingTransitions xmi:id="_zeQzAN-QEem24a7BsFr5GA" specification="else" target="_XRJMEN-HEem24a7BsFr5GA"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_HdvIgOFaEemnXKmYOXoQIg" incomingTransitions="_CsoJ8OFaEemnXKmYOXoQIg _fo9IQON8EemeM9l5VBLIxw _7EALUOOAEemeM9l5VBLIxw _8j_FcOOCEemeM9l5VBLIxw">
        <outgoingTransitions xmi:id="_JMUxQOFaEemnXKmYOXoQIg" specification="[result != FR_OK] /" target="_XRJMEN-HEem24a7BsFr5GA"/>
        <outgoingTransitions xmi:id="_KMktUOFaEemnXKmYOXoQIg" specification="else /" target="_VQLZ4N-HEem24a7BsFr5GA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_YlCSVt-GEem24a7BsFr5GA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_Ykb1YN-GEem24a7BsFr5GA" measurementUnit="Pixel">
    <children xmi:id="_YlLcQd-GEem24a7BsFr5GA" type="Region" element="_YlLcQN-GEem24a7BsFr5GA">
      <children xsi:type="notation:DecorationNode" xmi:id="_YliBkN-GEem24a7BsFr5GA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YliBkd-GEem24a7BsFr5GA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YliBkt-GEem24a7BsFr5GA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_YlrLgN-GEem24a7BsFr5GA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_YlrLhN-GEem24a7BsFr5GA" type="Entry" element="_YlrLg9-GEem24a7BsFr5GA">
          <children xmi:id="_YlrLiN-GEem24a7BsFr5GA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_YlrLi9-GEem24a7BsFr5GA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_YlrLjN-GEem24a7BsFr5GA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_YlrLjd-GEem24a7BsFr5GA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_YlrLid-GEem24a7BsFr5GA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YlrLit-GEem24a7BsFr5GA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_YlrLhd-GEem24a7BsFr5GA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_YlrLht-GEem24a7BsFr5GA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YlrLjt-GEem24a7BsFr5GA" x="9" y="12"/>
        </children>
        <children xmi:id="_YlrLkt-GEem24a7BsFr5GA" type="State" element="_YlrLj9-GEem24a7BsFr5GA">
          <children xsi:type="notation:DecorationNode" xmi:id="_Yl08gN-GEem24a7BsFr5GA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Yl08gd-GEem24a7BsFr5GA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Yl08gt-GEem24a7BsFr5GA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Yl08g9-GEem24a7BsFr5GA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Yl08hN-GEem24a7BsFr5GA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Yl08hd-GEem24a7BsFr5GA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Yl08ht-GEem24a7BsFr5GA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_YlrLk9-GEem24a7BsFr5GA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_YlrLlN-GEem24a7BsFr5GA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Yl08h9-GEem24a7BsFr5GA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Yl08iN-GEem24a7BsFr5GA" x="9" y="56" width="86" height="55"/>
        </children>
        <children xmi:id="_VQN2IN-HEem24a7BsFr5GA" type="State" element="_VQLZ4N-HEem24a7BsFr5GA">
          <children xsi:type="notation:DecorationNode" xmi:id="_VQPEQN-HEem24a7BsFr5GA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_VQPEQd-HEem24a7BsFr5GA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_VQPEQt-HEem24a7BsFr5GA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_VQPEQ9-HEem24a7BsFr5GA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_VQPERN-HEem24a7BsFr5GA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VQPERd-HEem24a7BsFr5GA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_VQPERt-HEem24a7BsFr5GA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_VQN2Id-HEem24a7BsFr5GA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_VQN2It-HEem24a7BsFr5GA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_VQPrUN-HEem24a7BsFr5GA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VQN2I9-HEem24a7BsFr5GA" x="9" y="152" width="136" height="481"/>
        </children>
        <children xmi:id="_XRJME9-HEem24a7BsFr5GA" type="State" element="_XRJMEN-HEem24a7BsFr5GA">
          <children xsi:type="notation:DecorationNode" xmi:id="_XRJMF9-HEem24a7BsFr5GA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_XRJMGN-HEem24a7BsFr5GA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_XRJMGd-HEem24a7BsFr5GA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XRJMGt-HEem24a7BsFr5GA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_XRJMG9-HEem24a7BsFr5GA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XRJMHN-HEem24a7BsFr5GA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XRJMHd-HEem24a7BsFr5GA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_XRJMFN-HEem24a7BsFr5GA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_XRJMFd-HEem24a7BsFr5GA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_XRJMHt-HEem24a7BsFr5GA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XRJMFt-HEem24a7BsFr5GA" x="614" y="52" width="166" height="55"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_v8ptcN-QEem24a7BsFr5GA" type="Choice" element="_v8ofUN-QEem24a7BsFr5GA" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_v8ptcd-QEem24a7BsFr5GA" x="509" y="73"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_HdvIgeFaEemnXKmYOXoQIg" type="Choice" element="_HdvIgOFaEemnXKmYOXoQIg" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HdvIguFaEemnXKmYOXoQIg" x="614" y="197"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YlrLgd-GEem24a7BsFr5GA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_YlLcQt-GEem24a7BsFr5GA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YlrLgt-GEem24a7BsFr5GA" x="20" y="30" width="884" height="686"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_Yl-th9-GEem24a7BsFr5GA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_Yl-tid-GEem24a7BsFr5GA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Yl-tit-GEem24a7BsFr5GA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Yl-ti9-GEem24a7BsFr5GA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_Yl-tjN-GEem24a7BsFr5GA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Yl-tjd-GEem24a7BsFr5GA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Yl-tjt-GEem24a7BsFr5GA" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_YlCSV9-GEem24a7BsFr5GA" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_YlCSWN-GEem24a7BsFr5GA"/>
    <edges xmi:id="_Yl-tgN-GEem24a7BsFr5GA" type="Transition" element="_Yl08id-GEem24a7BsFr5GA" source="_YlrLhN-GEem24a7BsFr5GA" target="_YlrLkt-GEem24a7BsFr5GA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Yl-thN-GEem24a7BsFr5GA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Yl-thd-GEem24a7BsFr5GA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Yl-tht-GEem24a7BsFr5GA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Yl-tgd-GEem24a7BsFr5GA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Yl-tg9-GEem24a7BsFr5GA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Yl-tgt-GEem24a7BsFr5GA" points="[7, 0, -34, -45]$[38, 0, -3, -45]$[38, 37, -3, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fG3yMN-HEem24a7BsFr5GA" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fmE2sN-HEem24a7BsFr5GA" id="(0.47674418604651164,0.09090909090909091)"/>
    </edges>
    <edges xmi:id="_wzAGoN-QEem24a7BsFr5GA" type="Transition" element="_wy-RcN-QEem24a7BsFr5GA" source="_YlrLkt-GEem24a7BsFr5GA" target="_v8ptcN-QEem24a7BsFr5GA">
      <children xsi:type="notation:DecorationNode" xmi:id="_wzAtsN-QEem24a7BsFr5GA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wzAtsd-QEem24a7BsFr5GA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wzAtst-QEem24a7BsFr5GA" y="-46"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wzAGod-QEem24a7BsFr5GA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wzAGo9-QEem24a7BsFr5GA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wzAGot-QEem24a7BsFr5GA" points="[37, -25, -91, 1]$[121, -25, -7, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wzDJ8N-QEem24a7BsFr5GA" id="(0.5465116279069767,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cmoDQOFZEemnXKmYOXoQIg" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_ybFewN-QEem24a7BsFr5GA" type="Transition" element="_ybEQoN-QEem24a7BsFr5GA" source="_v8ptcN-QEem24a7BsFr5GA" target="_VQN2IN-HEem24a7BsFr5GA">
      <children xsi:type="notation:DecorationNode" xmi:id="_ybFexN-QEem24a7BsFr5GA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ybFexd-QEem24a7BsFr5GA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ybGF0N-QEem24a7BsFr5GA" x="-15" y="9"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ybFewd-QEem24a7BsFr5GA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ybFew9-QEem24a7BsFr5GA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ybFewt-QEem24a7BsFr5GA" points="[-8, 0, 397, -109]$[-8, 88, 397, -21]$[-384, 88, 21, -21]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ybH7AN-QEem24a7BsFr5GA" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eYV4gOFZEemnXKmYOXoQIg" id="(0.8455882352941176,0.09485565443889733)"/>
    </edges>
    <edges xmi:id="_zeT2UN-QEem24a7BsFr5GA" type="Transition" element="_zeQzAN-QEem24a7BsFr5GA" source="_v8ptcN-QEem24a7BsFr5GA" target="_XRJME9-HEem24a7BsFr5GA">
      <children xsi:type="notation:DecorationNode" xmi:id="_zeT2VN-QEem24a7BsFr5GA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zeT2Vd-QEem24a7BsFr5GA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zeT2Vt-QEem24a7BsFr5GA" x="-13" y="-14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zeT2Ud-QEem24a7BsFr5GA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zeT2U9-QEem24a7BsFr5GA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zeT2Ut-QEem24a7BsFr5GA" points="[0, -8, -222, -19]$[163, -8, -59, -19]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zeWSkN-QEem24a7BsFr5GA" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zeWSkd-QEem24a7BsFr5GA" id="(0.048679493006110186,0.4727272727272727)"/>
    </edges>
    <edges xmi:id="_-R3rUeFYEemnXKmYOXoQIg" type="Transition" element="_-R3rUOFYEemnXKmYOXoQIg" source="_XRJME9-HEem24a7BsFr5GA" target="_v8ptcN-QEem24a7BsFr5GA">
      <children xsi:type="notation:DecorationNode" xmi:id="_-R3rVeFYEemnXKmYOXoQIg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-R3rVuFYEemnXKmYOXoQIg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-R3rV-FYEemnXKmYOXoQIg" x="-13" y="22"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-R3rUuFYEemnXKmYOXoQIg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-R3rVOFYEemnXKmYOXoQIg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-R3rU-FYEemnXKmYOXoQIg" points="[4, 0, 188, -21]$[4, -20, 188, -41]$[-189, -20, -5, -41]$[-189, 21, -5, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-SA1QOFYEemnXKmYOXoQIg" id="(0.5679618662429583,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cmoDQeFZEemnXKmYOXoQIg" id="(0.8,0.0)"/>
    </edges>
    <edges xmi:id="_CsoJ8eFaEemnXKmYOXoQIg" type="Transition" element="_CsoJ8OFaEemnXKmYOXoQIg" source="_VQN2IN-HEem24a7BsFr5GA" target="_HdvIgeFaEemnXKmYOXoQIg">
      <children xsi:type="notation:DecorationNode" xmi:id="_CsoJ9eFaEemnXKmYOXoQIg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_CsoJ9uFaEemnXKmYOXoQIg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_CsoJ9-FaEemnXKmYOXoQIg" x="-55" y="-54"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_CsoJ8uFaEemnXKmYOXoQIg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_CsoJ9OFaEemnXKmYOXoQIg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_CsoJ8-FaEemnXKmYOXoQIg" points="[-193, 52, -486, 112]$[288, 52, -5, 112]$[288, -58, -5, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_CsxT4OFaEemnXKmYOXoQIg" id="(2.4733981031690955,0.24951161276318642)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_CsxT4eFaEemnXKmYOXoQIg" id="(0.8666666666666667,0.5333333333333333)"/>
    </edges>
    <edges xmi:id="_JMUxQeFaEemnXKmYOXoQIg" type="Transition" element="_JMUxQOFaEemnXKmYOXoQIg" source="_HdvIgeFaEemnXKmYOXoQIg" target="_XRJME9-HEem24a7BsFr5GA">
      <children xsi:type="notation:DecorationNode" xmi:id="_JMUxReFaEemnXKmYOXoQIg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_JMUxRuFaEemnXKmYOXoQIg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_JMUxR-FaEemnXKmYOXoQIg" x="-39" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_JMUxQuFaEemnXKmYOXoQIg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_JMUxROFaEemnXKmYOXoQIg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_JMUxQ-FaEemnXKmYOXoQIg" points="[-8, -15, -138, 120]$[-8, -61, -138, 74]$[103, -61, -27, 74]$[103, -110, -27, 25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_JMUxSOFaEemnXKmYOXoQIg" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xUvWoOGREem7nOmKY_LUiw" id="(0.562111801242236,0.5)"/>
    </edges>
    <edges xmi:id="_KMktUeFaEemnXKmYOXoQIg" type="Transition" element="_KMktUOFaEemnXKmYOXoQIg" source="_HdvIgeFaEemnXKmYOXoQIg" target="_VQN2IN-HEem24a7BsFr5GA">
      <children xsi:type="notation:DecorationNode" xmi:id="_KMktVeFaEemnXKmYOXoQIg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KMktVuFaEemnXKmYOXoQIg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KMktV-FaEemnXKmYOXoQIg" x="49" y="12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_KMktUuFaEemnXKmYOXoQIg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_KMktVOFaEemnXKmYOXoQIg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_KMktU-FaEemnXKmYOXoQIg" points="[0, -8, 285, -69]$[-419, -8, -134, -69]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KMktWOFaEemnXKmYOXoQIg" id="(0.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KMktWeFaEemnXKmYOXoQIg" id="(2.029840388619015,0.2547780174016509)"/>
    </edges>
    <edges xmi:id="_j2S0geGREem7nOmKY_LUiw" type="Transition" element="_j2S0gOGREem7nOmKY_LUiw" source="_VQN2IN-HEem24a7BsFr5GA" target="_XRJME9-HEem24a7BsFr5GA">
      <children xsi:type="notation:DecorationNode" xmi:id="_j2S0heGREem7nOmKY_LUiw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_j2S0huGREem7nOmKY_LUiw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_j2S0h-GREem7nOmKY_LUiw" x="-152" y="-12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_j2S0guGREem7nOmKY_LUiw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_j2S0hOGREem7nOmKY_LUiw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_j2S0g-GREem7nOmKY_LUiw" points="[20, 56, -593, 525]$[604, 56, -9, 525]$[604, -459, -9, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_j2clgOGREem7nOmKY_LUiw" id="(0.8529411764705882,0.8602111897390535)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_j2clgeGREem7nOmKY_LUiw" id="(0.7434638162646251,0.8181818181818182)"/>
    </edges>
    <edges xmi:id="_ns55seGREem7nOmKY_LUiw" type="Transition" element="_ns55sOGREem7nOmKY_LUiw" source="_VQN2IN-HEem24a7BsFr5GA" target="_YlrLkt-GEem24a7BsFr5GA">
      <children xsi:type="notation:DecorationNode" xmi:id="_ns55teGREem7nOmKY_LUiw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ns55tuGREem7nOmKY_LUiw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ns55t-GREem7nOmKY_LUiw" x="4" y="42"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ns55suGREem7nOmKY_LUiw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ns55tOGREem7nOmKY_LUiw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ns55s-GREem7nOmKY_LUiw" points="[1, 0, 4, 71]$[1, -46, 4, 25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ns55uOGREem7nOmKY_LUiw" id="(0.33078880407124683,0.0)"/>
    </edges>
    <edges xmi:id="_fo9IQeN8EemeM9l5VBLIxw" type="Transition" element="_fo9IQON8EemeM9l5VBLIxw" source="_VQN2IN-HEem24a7BsFr5GA" target="_HdvIgeFaEemnXKmYOXoQIg">
      <children xsi:type="notation:DecorationNode" xmi:id="_fo9IReN8EemeM9l5VBLIxw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fo9IRuN8EemeM9l5VBLIxw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fo9IR-N8EemeM9l5VBLIxw" x="-113" y="-54"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_fo9IQuN8EemeM9l5VBLIxw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_fo9IRON8EemeM9l5VBLIxw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_fo9IQ-N8EemeM9l5VBLIxw" points="[0, 54, -481, 228]$[480, 54, -1, 228]$[480, -168, -1, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fo9ISON8EemeM9l5VBLIxw" id="(1.0,0.4762107155000728)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_f1HtQOOCEemeM9l5VBLIxw" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_7EALUeOAEemeM9l5VBLIxw" type="Transition" element="_7EALUOOAEemeM9l5VBLIxw" source="_VQN2IN-HEem24a7BsFr5GA" target="_HdvIgeFaEemnXKmYOXoQIg">
      <children xsi:type="notation:DecorationNode" xmi:id="_7EALVeOAEemeM9l5VBLIxw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7EALVuOAEemeM9l5VBLIxw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7EALV-OAEemeM9l5VBLIxw" x="-163" y="-50"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7EALUuOAEemeM9l5VBLIxw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7EALVOOAEemeM9l5VBLIxw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7EALU-OAEemeM9l5VBLIxw" points="[12, -17, -486, 330]$[493, -17, -5, 330]$[493, -340, -5, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7EALWOOAEemeM9l5VBLIxw" id="(0.9117647058823529,0.8415109464838567)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7EALWeOAEemeM9l5VBLIxw" id="(0.8,0.5333333333333333)"/>
    </edges>
    <edges xmi:id="_8j_FceOCEemeM9l5VBLIxw" type="Transition" element="_8j_FcOOCEemeM9l5VBLIxw" source="_VQN2IN-HEem24a7BsFr5GA" target="_HdvIgeFaEemnXKmYOXoQIg">
      <children xsi:type="notation:DecorationNode" xmi:id="_8j_FdeOCEemeM9l5VBLIxw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8j_FduOCEemeM9l5VBLIxw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8j_Fd-OCEemeM9l5VBLIxw" x="-335" y="-23"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8j_FcuOCEemeM9l5VBLIxw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8j_FdOOCEemeM9l5VBLIxw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8j_Fc-OCEemeM9l5VBLIxw" points="[0, 29, -481, 388]$[481, 29, 0, 388]$[481, -351, 0, 8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8j_FeOOCEemeM9l5VBLIxw" id="(1.0,0.8643667993513194)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
